[2016-12-22 13:48] MattHJensen opened #8 "Knob for welfare value of benefits"
Some users who want to assess the distributional consequences of repealing and replacing welfare and transfer programs might want to assume that a dollar of spending on the program does not equal a dollar of value to the recipient.

The classic case involves non-cash transfers. For example, [Finkelstein, Hendren, and Luttmer](http://scholar.harvard.edu/files/hendren/files/finkelstein_hendren_luttm

[2016-12-22 14:37] Amy-Xu commented on #8
That sounds reasonable, but I think the knobs should be in Tax-Calculator instead of here in Benefit?

[2016-12-22 14:58] MattHJensen commented on #8
That makes sense to me too. Let's leave this issue here for now and then move it over once we have initial benefit capabilities in Tax-Calculator.

[2017-02-04 13:50] Amy-Xu opened #9 "Documentation should be PDFs"
PDFs can be viewed directly on github, while word documents cannot. As most of our documentations have formulas or tables, which makes mark down quite difficult to do, we cannot do pure text for docs. So as a temporary solution, we want to keep editable version in google drive, and PDFs for display on github. The google drive is shared among all contributors. Currently there're three documents tha

[2017-02-04 13:50] Amy-Xu opened #10 "Add Medicaid and Medicare documentation"

[2017-02-13 22:03] Amy-Xu opened #13 "SSI MTR documentation"
Just created a branch for all current versions of documentation: https://github.com/open-source-economics/Benefits/tree/docbranch/SSI/MTR

We need to replace the current version with a more simplified version that describes 1) what method was used, and 2) what was the results. If other contributors ever want to contribute to this portion of Basic Income project, documentation work can be added eas

[2017-02-19 07:19] parkerrogers commented on #13
Done

[2017-02-19 07:19] parkerrogers commented on #9
Done

[2017-02-19 16:06] Amy-Xu commented on #13
Thanks!

[2017-02-19 16:06] #13 closed

[2017-02-19 16:07] Amy-Xu commented on #9
Great! Thanks Parker!!

[2017-02-19 16:07] #9 closed

[2017-05-22 14:52] #10 closed

[2017-05-22 15:32] Amy-Xu opened #26 "Restructure documentation in each program folder"
As we have add a full-documentation link in [ReadMe](https://github.com/open-source-economics/Benefits/blob/master/README.md) section for Benefit Repo (and soon this document will be added to the Repo once ready), the content in most documentation in each program folder ([SNAP](https://github.com/open-source-economics/Benefits/blob/master/SNAP/Snap_imputation.ipynb), [SSI](https://github.com/open-

[2017-06-02 13:24] MattHJensen opened #32 "Rename repo to C-TAM?"
Upsides are that

- it would follow the convention of Tax-Calculator, B-TAX, OG-USA, taxdata.
- be more obvious what is in the repo.

Are there downsides?

[2017-06-05 18:12] Amy-Xu commented on #32
Just changed the name. Closing this issue.

[2017-06-05 18:12] #32 closed

[2017-06-05 18:13] Amy-Xu commented on #8
@MattHJensen Should we start adding this function to TC? If so, I'll move this issue to TC and assign it to my coming intern. Is that ok?

[2017-06-05 19:59] MattHJensen commented on #8
@Amy-Xu, I don't see how to move this to TC right now because we haven't integrated the spending programs into TC. Currently all spending-side analyses (for which the welfare-value of benefits is relevant) happen in stand alone scripts, which will soon be in open-source-economics/ubi-examples.

[2017-06-05 21:00] Amy-Xu commented on #8
You're right. This issue should just stay here for now.

[2017-07-14 15:40] martinholmer opened #35 "Question about imputing Medicaid benefit"
The amount and quality of work in the C-TAM repository is very impressive.

I've been looking at the documentation, which includes this text in the Medicaid and Medicare section on page 37 just below Figure 13:

Maybe I don't completely understand the medical insurance benefit imputation procedure being described here, but it strikes me that a small, easy change in the procedure would make the dis

[2017-07-18 18:08] Amy-Xu commented on #35
Thanks @martinholmer! This indeed seems like an easy-to-do improvement.

Originally I didn't do any average by income group or age group and just plot the raw benefit by income. The resulting plot was too jagged to be considered as proper by Dan. Then Dan suggested to do an average by income group, since that's the only dimension we cared at that moment, and insurance value itself is quite a vague

[2018-01-18 22:11] Amy-Xu opened #57 "Glitches in each program; Doesn't effect current year result"
- [x] print line `print list(train_x[maxes].columns.values)` is throwing out an error in Rf_probs.py which is a part of WC and UC. So far it seems all results can be generated properly when commenting out this line.
- [x] In WC folder, the input for arma.ipynb is missing.
- [x] Need to delete 'h_seq_mean' and 'h_seq_sum' from dropped variable list in `Rf_prob.ipynb` in PR #54 because they don't ex

[2018-02-12 15:50] martinholmer opened #58 "Question about medical component of vet benefits"
The pdf entitled `VB_imputation_report.pdf` contains the following:

![screen shot 2018-02-12 at 10 41 35 am](https://user-images.githubusercontent.com/12170745/36105054-a700ca6c-0fe1-11e8-93f3-a0f04d990b08.png)

I have a couple of questions.

First, am I correct in assuming that the phrases "88 billion benefits" and "Medical care benefits are 59 billion in total" refer to **dollars** spent by the

[2018-02-14 03:31] martinholmer opened #59 "Where is all the work on benefit reduction rates?"
@Amy-Xu,  There is a Tax-Calculator issue about adding benefit reduction rates, but I can't seem to find any information about those estimates in the C-TAM repository.  So, for example, where are the benefit reduction rates estimated for the SNAP program or for veterans' benefits?

[2018-02-14 12:45] Amy-Xu commented on #58
@martinholmer Thanks for the questions.

Yep!

In the expenditure spreadsheet provided by VA, the note section says ` Medical Care expenditures include dollars for medical services, medical administration, facility maintenance, educational support, research support, and other overhead items.  Medical Care expenditures do not include dollars for construction or other non-medical support.`

[2018-02-14 12:49] Amy-Xu commented on #58
It seems there are a good number of ambiguities in the documentation. Martin, thanks for pointing these out. I'll add them in the issue for improvements. In the meantime, please let me know if you have further questions along the line.

[2018-02-14 14:09] Amy-Xu commented on #59
Martin, sorry about the confusion. So far we have estimated the rates for three programs (SSI, SNAP and Old-Age Insurance), because these three have their benefits tied to income. Veteran's benefits, in contrary to the three programs, depend almost solely on the veteran status; thus we assume the rate is zero for everyone.

The summary for each program's rate can be found in the general documentat

[2018-02-14 16:42] martinholmer commented on #58
@Amy-Xu,  Thanks for the details on the vet_ben composition.  Should like the non-construction expenses of running the VA hospital system are the bulk of the non-cash veterans' benefits.

[2018-02-14 16:42] #58 closed

[2018-02-14 16:54] martinholmer commented on #59
@Amy-Xu said:

The documentation pdf file on the master branch (C-TAM 0.1.2) is dated April 2017.  As search for MTR produced no hits.

The documentation pdf file in PR #52 (C-TAM 0.1.3) is dated September 2017 and it does have information about estimating benefit MTRs.

Is there any reason you have not merged PR #52?  It has been open since late September 2017 and has not been revised since then.

[2018-02-17 01:47] Amy-Xu commented on #59
@martinholmer asked:

I was hoping for a more thorough review before merging. The PR's updates have been review by Dan and AEI's editing team. Matt gave a first round review last October, but later in the year other priorities squeezed everyone's schedule. So the second round has not been finished yet.

I realized a lot of terms we used may or may not be clear to new comers who're not familiar wit

[2018-02-17 15:15] MaxGhenis opened #60 "Do imputed benefits include administrative overhead costs?"
Moving https://github.com/open-source-economics/taxdata/issues/153 here: are benefits in taxcalc's new CPS data intended to be the value of the benefit received, or its effective cost by including administrative overhead?

The [C-TAM README](https://github.com/open-source-economics/C-TAM/blob/master/README.md) says that a 2017 goal is to "Add administrative costs for all welfare programs." The [up

[2018-02-28 21:31] MaxGhenis opened #61 "Benchmarking poorest tax units against other reports"
This isn't so much an issue as a heads up of relevant comparisons for the poorest households, which are notoriously difficult to measure. I did some analysis on tax units with incomes under $5/day, comparing to other sources mentioned in [this Brookings paper](https://www.brookings.edu/wp-content/uploads/2016/06/How-Poor-are-Americas-Poorest.pdf) (worth a read in full, as it's relevant to C-TAM).

[2018-03-03 16:44] MaxGhenis opened #62 "What share of veteran benefits is cash?"
Is there an estimate available? I didn't see it in the [new documentation](https://docs.google.com/document/d/1OoWr18ZZkXC9jRI3PHkvKncfCK_BGrTez4syXBCMCK8/edit#heading=h.5tvzsdm55jx1) from https://github.com/open-source-economics/C-TAM/pull/52.

Related:
* @martinholmer's questions on medical share of VB in https://github.com/open-source-economics/C-TAM/issues/58, answered by @Amy-Xu
* @kpinkelman

[2018-03-05 14:55] Amy-Xu commented on #62
@MaxGhenis Thanks for the question. We haven't explicitly target cash/in-kind benefits because for many programs it's hard to separate the two in administrative data. Specifically for Veteran's benefits, we got our targets from the expenditure table on this page: https://www.va.gov/vetdata/Expenditures.asp

Using 2016 as an example, you can find 7 categories of expenditure: compensation and pensio

[2018-03-13 16:15] martinholmer opened #63 "Can this project upgrade to Python 3.6?"
The Pandas developers seem to be planning to quit supporting Python 2.7 at the end of 2018 as described [here](https://github.com/pandas-dev/pandas/issues/18894).  In the coming months the Tax-Calculator developers would like to transition Tax-Calculator to be a Python 3.6+ project.

**Will this project find it acceptable to have access to only Python 3.6 taxcalc packages?**

[2018-03-24 00:41] MaxGhenis opened #64 "README seems to be outdated"
For example it mentions intermediate goals for 2017.

https://github.com/open-source-economics/C-TAM/blob/master/README.md

[2018-03-24 23:12] MaxGhenis commented on #62
Thanks @Amy-Xu, For posterity, here's a % breakdown from the [2016 expenditure table](https://docs.google.com/spreadsheets/d/16x6-UC3xKkkiU9k8rGBiBwlBQoHb7NKHFixvWD77tkg/edit#gid=743553639):

Compensation & Pension | Medical Care | Education & Vocational Rehabilitation/ Employment | General Operating Expenses | Construction | Insurance & Indemnities | Loan Guaranty#
-- | -- | -- | -- | -- | -- | -

[2018-03-24 23:12] #62 closed

[2018-03-25 05:45] MaxGhenis opened #65 "Why is TANF administrative total only $9.6B?"
[TANF_Administrative.csv](https://github.com/open-source-economics/C-TAM/blob/master/TANF/TANF_Administrative.csv) totals [$9.6B](https://docs.google.com/spreadsheets/d/1bMYgG9CW6dOxiSdhwdEnFu8ukVnLrvWo2sg01t34BLQ/edit?usp=sharing). However, [HHS says](https://www.hhs.gov/about/budget/fy2018/budget-in-brief/acf/mandatory/index.html) the budget has been $17.3B for 2016-2018, and the [updated C-TAM

[2018-03-25 06:17] MaxGhenis opened #66 "Why is housing_ben only $2.1B in CPS Tax-Calculator data?"
print(round((recs.s006 * recs.housing_ben).sum() / 1e9, 1))
    # 2.1

Advancing to 2018 yields $2.4B.

I couldn't find the explicit targets here, but this is substantially lower than the various totals described in the [Housing README](https://github.com/open-source-economics/C-TAM/blob/master/Housing/README.md):

[2018-03-29 18:16] MaxGhenis commented on #66
Per https://github.com/open-source-economics/taxdata/pull/175 looks like these are monthly not annual, and @andersonfrailey is fixing it.

[2018-03-29 22:15] MaxGhenis commented on #65
CC UBI folks in case this affects your analysis: @Amy-Xu @andersonfrailey @martinholmer @MattHJensen

[2018-03-30 19:28] MaxGhenis commented on #66
It's now $32.6B after updating to tc 0.18.0.

[2018-03-30 19:28] #66 closed

[2018-03-30 19:37] Amy-Xu commented on #63
@martinholmer Yes. Also, there's a large chance we're moving this repo into taxdata, just a heads-up.

[2018-03-30 19:39] martinholmer commented on #63
@Amy-Xu said:

Thanks for the response.

[2018-03-30 19:39] #63 closed

[2018-03-30 20:03] Amy-Xu commented on #65
@MaxGhenis Thanks for point this out. It appears that I modified the targets on my local computer and have not opened a PR yet for the targets.

Do you mind tag me next time you open an issue? Somehow I did't get notified for any issues you opened and many of them are very valuable. Much appreciated!

[2018-03-30 20:12] Amy-Xu commented on #65
To answer your question, the initial version of TANF targets, currently in the repo, are for the 'Assistance' portion of benefits. Later on I added 'non-assitance' portion, both portions sum up to 29 billion for 2014. Both categories include cash and non-cash benefits. Their differences are quite [definitional](https://www.acf.hhs.gov/sites/default/files/ofa/categories_and_definitions_for_tanf_and

[2018-03-30 20:29] Amy-Xu commented on #64
You're right. And lot of other info are not up-to-date. I'll try to fix them in one week or two. Thanks Max!

[2018-03-30 22:19] MaxGhenis commented on #65
Sure. Thanks for tackling this one.

[2018-04-10 20:03] MaxGhenis opened #68 "Some tax units have extremely high values of Medicaid and Medicare"
The maximum benefit amount per person is $455k for Medicaid and $692k for Medicare ([notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/taxdata_benefit_cdfs.ipynb)). These are somewhat outliers but multiple percent have benefit values in excess of $20k.
![download](https://user-images.githubusercontent.com/6076111/38580622-4d2e05f8-3cbf-11e8-97a7-bd219

[2018-04-11 13:59] Amy-Xu commented on #68
@MaxGhenis Thanks for pointing this out. I want to take a look at Medicaid and Medicare imputation first before replying here. But in terms of veteran benefits, my guess is that the extreme values are a part of CPS ASEC, because we have only assigned averages to individuals which theoretically should n't create very large values.

[2018-04-11 22:31] MaxGhenis commented on #60
@Amy-Xu could you please clarify this?

[2018-04-12 15:08] Amy-Xu commented on #60
@MaxGhenis We planed to include administrative cost last year but got sidetracked. The targets we used for extrapolation I believe are benefit projections.

If this is something useful, I'll try to add it in the coming month.

[2018-04-12 16:14] MaxGhenis commented on #60
Thanks, good to know. I think it would be useful, but it's also not too hard to add the % myself, so not a super big deal on my end.

[2018-04-17 14:46] Amy-Xu commented on #65
Since this issue has been fixed, closing it now. Thanks @MaxGhenis!

[2018-04-17 14:46] #65 closed

[2018-04-17 14:48] Amy-Xu commented on #59
Thanks to Martin for the questions here. Please let me know if you have follow up questions on this issue. Closing this one now.

[2018-04-17 14:48] #59 closed

[2018-04-17 20:09] Amy-Xu commented on #64
Updating it in PR #69.

[2018-04-17 20:11] Amy-Xu commented on #60
@MaxGhenis If you add it for your project, do you mind contribute that part to C-TAM? Would really appreciate it!

[2018-04-20 18:42] Amy-Xu commented on #64
PR #69 has been merged. So closing this issue.

[2018-04-20 18:42] #64 closed

[2018-04-23 20:34] Amy-Xu commented on #68
@MaxGhenis You're absolutely right. I checked the MEPS raw data, in which max amount paid by Medicare is 459k and max paid by Medicaid is 180k. As we augment Medicare total by 1.46 and Medicaid total by 2.32, I wouldn't be too surprised by the two max values you got in the CPS tax unit dataset. Those two indeed seem very large, but given the MEPS raw data statistics and the portion of extreme valu

[2018-04-23 20:38] Amy-Xu commented on #26
Doesn't seem to be relevant anymore. Closing.

[2018-04-23 20:38] #26 closed

[2018-04-23 20:41] Amy-Xu commented on #8
The benefit capabilities have been incorporated into both TC and PolicyBrain. Closing this issue.

[2018-04-23 20:41] #8 closed

[2018-04-23 20:47] Amy-Xu commented on #68
@MaxGhenis Here you go: http://healthcare-economist.com/2011/12/20/meps-vs-nhea/

Partially because severely ill individuals might have a higher attrition rate.

[2018-04-23 20:51] MaxGhenis commented on #68
OK I guess this is more of a philosophical question then, i.e. my comment above:

For example if one is interested in replacing these programs with UBI, perhaps with a requirement to use it to purchase health insurance as Charles Murray proposes, the value of these programs is really the insurance value. I think in most or all use cases for this data, we're more interested in a tax unit's insuranc

[2018-04-23 23:53] feenberg commented on #68
In my view the argument using insurance value is totally valid. We want to
classify taxpayers by some measure of welfare, and the insurance value is
much closer ordinary understanding.

dan

On Mon, 23 Apr 2018, Max Ghenis wrote:

[2018-04-25 14:58] Amy-Xu commented on #68
@MaxGhenis

Yes, this is what we intended to do, as confirmed by Dan's reply above. In the C-TAM documentation, all the plots are based on the averages by income group, which is our operating definition of insurance value. But I don't think I saved the insurance value in the imputation file, so the tax unit file still use the raw imputation from MEPS. Long story short, looks like you help us found

[2018-04-25 19:40] Amy-Xu commented on #68
@andersonfrailey Max helped identified another issue I missed. For Medicaid and Medicare, we should have included their insurance value, as shown down below, instead the raw imputed values. Insurance values are computed as raw imputed values averaged by quintile income groups.
<img width="585" alt="screen shot 2018-04-25 at 3 24 00 pm" src="https://user-images.githubusercontent.com/10549597/392685

[2018-04-25 20:14] andersonfrailey commented on #68
@Amy-Xu, Just to be clear, the new values for Medicare and Medicaid at the tax unit level will be ($12K * number of Medicare recipients) and ($6K * number of Medicaid recipients)?

If so, we could do that in final prep. We keep the imputed Medicare and Medicaid values for everyone in the tax unit so we could just count up how many individuals in each unit have non-zero values and multiply that by

[2018-04-25 20:34] andersonfrailey commented on #68
Ah, so when you refer to "total" you're talking about the total for all tax units. So we first assign the new values then apply a scalar to hit our current Medicare and Medicaid values?

I'm not familiar with how Medicare and Medicaid benefits values are determined, but I'd image increasing the total for each tax unit at the rate of inflation at least would make sense.

[2018-04-25 21:04] Amy-Xu commented on #68
That's what I was thinking.

[2018-04-26 13:40] andersonfrailey commented on #68
@Amy-Xu, ok. I'll work on a PR to make these changes.

[2018-04-28 18:36] MaxGhenis commented on #68
In [this comment](https://github.com/open-source-economics/C-TAM/issues/68#issuecomment-380462130) @Amy-Xu said:

Based on what we're seeing with Medicaid and Medicare, do you think this is because veteran benefits are reported as the cost, rather than insurance value of any veterans healthcare? Could something similar be going on with `other_ben`? If so is there enough data to replace these healt

[2018-04-30 11:11] Amy-Xu commented on #68
@MaxGhenis

Nah, CPS only includes non-medical veteran's benefit and we impute the medical part as overall medical spending divided by total veteran number. So this one is insurance value already.

I don't think so, but Anderson knows other_ben better than I do.

[2018-04-30 13:14] andersonfrailey commented on #68
`other_ben` is simply the aggregate sum of administration reported costs of programs distributed proportionally to tax units. So an exceptionally high Medicaid value could also lead to an exceptionally high `other_ben` value.

[2018-04-30 16:54] MaxGhenis commented on #68
In that case do we know why some tax units would have $140k in veteran benefits in a year? Is there a pension-type program that's included in this?

[2018-05-01 23:11] feenberg commented on #68
I typed "pension retired general" into Google and learned this:

    A three-star officer with 35 years' experience would get about
    $169,200 a year, up about $39,000, or 30%. The highest pension,
    $272,892, is paid to a retired four-star officer with 43 years
    of service, according to the Pentagon.Feb 3, 2012

but before I accepted this explanation I would want to look at the
CPS record

[2018-05-02 20:25] Amy-Xu commented on #61
@feenberg Could you take a look at this issue? What do you think?

[2018-05-04 20:57] martinholmer opened #71 "How CBO handles imputing benefits"
There has been recent discussion of how best to impute to filing units a Medicare benefit amount and a Medicaid benefit amount.  Most of this discussion has taken place in C-TAM issue #68, C-TAM pull request #70, and [taxdata pull request 185](https://github.com/open-source-economics/taxdata/pull/185).  One issue in those discussions has been whether it makes sense to impute different **actuarial

[2018-05-04 21:04] MattHJensen commented on #71
This assessment makes sense to me, but I could be missing something -- I'm interested to know what @feenberg and @Amy-Xu think. And Amy is probably in the best position to make the final call on the cost/benefit tradeoff, given her perspective on the maintenance burdens.

[2018-05-04 21:09] feenberg commented on #71
I agree that the simple approach is right for us at this time. If someone
wants to study distribution across age groups (as Larry Kotlicoff does)
they would want benefits to vary by age. But many applications do not
require that sort of detail, and our resources our limited.

dan

On Fri, 4 May 2018, Martin Holmer wrote:

[2018-05-07 13:44] Amy-Xu commented on #71
@martinholmer Thanks very much for this detailed outline. I agree that we should assign the same actuarial value to everyone for the moment.

[2018-05-09 15:13] MaxGhenis commented on #60
@martinholmer said in https://github.com/open-source-economics/C-TAM/pull/70#issuecomment-387770721:

First, when benefit programs are repealed in Tax-Calculator, the budgetary savings is going to be understated because the administrative cost savings will not be accounted for. Is that OK for add-UBI-and-repeal-benefits-programs analysis?

Second, your statement (that administrative costs are not

[2018-05-11 15:12] andersonfrailey commented on #71
An issue that @Amy-Xu pointed out with using just a simple average benefit amount, for Medicare at least, is that Medicare provides a lot of benefits for the institutionalized population that we don't have in our datasets. Should we worry at all about maybe trying to back out spending on that subset of the population? @Amy-Xu do you think it's a large enough issue to warrant the extra work?

cc @m

[2018-05-11 15:20] Amy-Xu commented on #71
I imagine institutionalized population might have a different actuarial value, and this part of population has not been included in the CPS tax unit dataset yet. It would be the best using one universal value for everyone if this is a negligible point. But I want to hear more thoughts before we proceed with the universal value.

@martinholmer @feenberg @MattHJensen

[2018-05-11 16:01] martinholmer commented on #71
I'm confused by this discussion because I was under the impression that the CPS excludes the institutionalized population.  Isn't this what this says?

![screen shot 2018-05-11 at 11 58 29 am](https://user-images.githubusercontent.com/12170745/39934166-fff0dd9e-5512-11e8-855a-7e773b7fb9c6.png)

[2018-05-11 16:13] Amy-Xu commented on #71
@martinholmer You're absolutely right. But is it a problem when CPS doesn't while Medicare, and potentially Medicaid, do?

[2018-05-11 16:53] Amy-Xu commented on #71
@martinholmer

I interpreted your citation of CBO report

as we need to calculate the actuarial value by dividing the total government cost by the total number of enrollee. Is that what you interpreted from the CBO report?

It seems in the current context that "total non-institutional benefit expenditure over total non-instituional enrollee' would be more accurate. What do you think?

Lastly, beca

[2018-05-11 17:05] feenberg commented on #71
On Fri, 11 May 2018, andersonfrailey wrote:

The omission of the institutionalized is not really a problem. Although
they represent a lot of spending, the insurance value of Medicare and
Medicaid to the currently non-institutionalized should include that
spending because the present value of their expected benefit includes that
spending. There is a slight problem that the dataset is not representa

[2018-05-11 17:16] feenberg commented on #71
On Fri, 11 May 2018, Amy Xu wrote:

I explained in my last message why I do not agree. Suppose 1% of the
population is missed, and 50% of the expenditure is on that 1%. Then
dividing the total expenditure by number of enrollees give the correct
insurance value to each enrollee. Including only half the expenditure
would underestimate the value of the insurance.

dan

[2018-05-11 17:35] Amy-Xu commented on #71
@feenberg

dividing the total expenditure by number of enrollees give the correct
insurance value to each enrollee.

I see your argument, but somehow I feel your argument supports my conclusion rather than yours. Before I explain my logic, I think we need a clarification on the terms we use in this issue.

- Insurance value: It seems Martin, in his initial post of this issue, interprets as how muc

[2018-05-11 19:15] Amy-Xu commented on #57
Fixed in PR #72.

[2018-05-11 19:15] #57 closed

[2018-05-12 01:42] feenberg commented on #71
On Fri, 11 May 2018, Amy Xu wrote:

But that is always true of insurance. Most of the ex post benefit goes to
a few. The ex ante benefit is spread evenly. We have chosen to model the
ex ante benefit for good reason.

dan

[2018-05-13 20:14] Amy-Xu commented on #71
@feenberg said

a few. The ex ante benefit is spread evenly. We have chosen to model the
ex ante benefit for good reason.

I see. That makes sense to me. Then it seems we can just proceed with the average calculated as the total benefit expenditure divided by the total number of enrollee.

Is that sensible to you? @martinholmer

cc @andersonfrailey @MaxGhenis

[2018-05-18 14:51] #35 closed

[2018-05-30 21:07] Amy-Xu commented on #60
Let me summarize the current status of administrative cost. It seems both TANF and Housing's targets have included in the targets. The administrative cost of TANF can be easily separated but that's not the case with Housing. I have only found an 'estimated' administrative cost for the HCV program but not any other programs.

@MaxGhenis Max mentioned it would be useful to provide the data with and

[2018-05-31 02:14] feenberg commented on #60
On Wed, 30 May 2018, Amy Xu wrote:

I think there is a reason that administrative costs should sometimes be
included and sometimes not. The administrative costs of running a hospital
are part of running it, and would be necessary no matter how financed and
is part of the cost of producing the service. In the case of Medicaid, the
administrative costs of providing care are included in the payments

[2018-06-01 16:33] Amy-Xu commented on #60
@feenberg said:

included and sometimes not. The administrative costs of running a hospital
are part of running it, and would be necessary no matter how financed and
is part of the cost of producing the service. In the case of Medicaid, the
administrative costs of providing care are included in the payments to
vendors but the administrative costs of the government are separate and
not required to

[2018-06-01 17:37] feenberg commented on #60
On Fri, 1 Jun 2018, Amy Xu wrote:

I believe that is not only expedient, but theoretically correct.

For government owned public housing I think this case is analogous to VA
hospitals. After all, maintaining any apartment building requires
administration. For vouchers, the administrative cost is not part of
maintaining the real estate.

However, I am not sure what you are doing with the resulting

[2018-06-06 21:06] MaxGhenis commented on #60
I agree with @feenberg that hospital administration is part of the benefit, but I'm not so sure about public housing, which IIUC includes a lot of administration around selecting applicants and periodically reviewing income and other eligibility requirements. That is, its administration is part voucher-esque part normal building management. Ideally we'd have the market value of the housing unit it

[2018-06-06 21:49] feenberg commented on #60
On Wed, 6 Jun 2018, Max Ghenis wrote:

I recall that years ago much public housing in St Louis was priced
similarly to private housing, but in New York was typically a fraction of
the market price. So this is not an easy problem.

dan

[2018-06-07 20:04] Amy-Xu commented on #60
@feenberg asked:

Are you calling some administrative costs part of recipient income and
some not?

As in the UBI study, we want to convert this administrative cost to a part of UBI. In other words, the administrative costs are not a part of recipient income under current system but will be under UBI. One argument of UBI is that it doesn't involve as much administrative cost.

@MaxGhenis said:

In

[2018-06-07 22:06] feenberg commented on #60
On Thu, 7 Jun 2018, Amy Xu wrote:

Are you going to count the administrative costs of the IRS as part of UBI?
It should only be part of UBI if it is a cost that the buyer would have to
bear in the free market. If it is a cost of government supervision of
expenditure, then that wouldn't be necessary in the free market and
shouldn't be counted as UBI.

dan

[2018-06-07 22:14] MaxGhenis commented on #60
If done through the tax code, we can assume it to be significantly lower than [EITC's <1% overhead](https://www.cbpp.org/research/romneys-charge-that-most-federal-low-income-spending-goes-for-overhead-and-bureaucrats-is?fa=view&id=3655), given fewer requirements and much larger base. A monthly UBI to every person, including non-filers, might be larger on an absolute basis but still extremely small

[2018-08-10 04:46] MaxGhenis opened #73 "Confirm that high values of vet_ben are pensions from generals"
In https://github.com/open-source-economics/C-TAM/issues/68 I showed that `vet_ben` maxes out at $140k:
![download 1](https://user-images.githubusercontent.com/6076111/38586337-36e76538-3cd2-11e8-9d20-90e63c1cf162.png)

@Amy-Xu said that this is likely compensation and pension, per [this VA site](https://www.va.gov/vetdata/Expenditures.asp).

@feenberg then said:

This issue is to pursue this inve

[2018-08-10 04:55] MaxGhenis commented on #68
@andersonfrailey said:

Sorry I don't understand this. Are you saying `other_ben` is a constant share of benefits? RECID 312413 has 60%+ of total income coming from `other_ben`. I couldn't find documentation on `other_ben` in the C-TAM doc.

[2018-08-15 19:00] MaxGhenis commented on #68
Thanks @andersonfrailey that makes sense, and it seems like the new Medicaid change improves the estimate of `other_ben` too. Given VB can be so high due to pensions, which we'd expect would be unrelated to other benefits, would it make sense to drop that and just consider Medicaid, SSI, and SNAP (maybe something like WIC too)? It doesn't look like any of the `other_ben` programs relate to veteran

[2018-08-17 13:40] andersonfrailey commented on #68
@MaxGhenis that is a good point. @MattHJensen what are your thoughts on that?

[2018-08-21 18:08] MattHJensen commented on #68
That makes sense to me. cc @Amy-Xu

[2018-09-02 14:32] martinholmer commented on #68
@Amy-Xu,  Can you close resolved C-TAM issue #68?  Medicare and Medicaid benefits are now actuarial values of the health insurance and veterans benefits are no longer used to distribute other benefits.  I would close the issue, but do not have the privileges to do that in the C-TAM repository.  So, you (or somebody else with privileges) need to maintain the C-TAM repository.

@MattHJensen @anderso

[2018-09-02 14:39] martinholmer commented on #61
@Amy-Xu, What's the status of C-TAM issue #61, which was opened by @MaxGhenis over six months ago on 2018-Feb-28?

@MattHJensen @andersonfrailey

[2018-09-02 14:42] martinholmer commented on #60
@Amy-Xu,  What's the status of C-TAM issue #60, which was opened by @MaxGhenis over six months ago on 2018-Feb-17?  Is there any benefit to leaving it open?  If so, what is being done to resolve the issue?

@MattHJensen @andersonfrailey @feenberg

[2018-09-02 15:12] Amy-Xu commented on #68
Thanks Martin. Closing.

[2018-09-02 15:12] #68 closed

[2018-09-04 19:50] martinholmer commented on #73
@Amy-Xu,  See [taxdata issue 281](https://github.com/open-source-economics/taxdata/issues/281) for more discussion of very high values of `vet_ben`.  If the high values are military pensions (as seem likely), then I don't understand why they aren't showing up in the taxable pensions variable `e01700` derived from the raw CPS data.  Generally, military disability pensions are not taxable income und

[2018-09-17 14:09] Amy-Xu commented on #71
Since the corresponding TaxData Issue has been merged, I'm closing this issue. Thanks to everyone.

[2018-09-17 14:09] #71 closed

[2018-09-17 20:19] andersonfrailey commented on #60
@Amy-Xu I'll get to work on adding administrative costs as you recommended.

[2018-09-18 16:09] Amy-Xu opened #74 "Add Citizenship indicator"
The CPS includes a citizenship indicator `PRCITSHP` that identifies individuals in terms of whether they are foreign-born and whether they are citizens.

<img width="471" alt="screen shot 2018-09-18 at 9 43 10 am 1" src="https://user-images.githubusercontent.com/10549597/45699639-07e3e400-bb30-11e8-9af7-caab6a1c5ce4.png">

The citizens and non-citizens sum up to 322.78 millions in 2015 CPS. Lookin

[2018-09-18 18:12] MaxGhenis commented on #74
Is this in C-TAM rather than taxdata because some benefits vary with citizenship?

Would a `n_citizens` variable work? I'd guess that if benefits vary with citizenship it would correlate more with number of citizens than with the head of household's citizenship.

[2018-09-19 14:18] Amy-Xu commented on #74
@MaxGhenis asked

Yep. I was debating whether to open this issue in C-TAM or Taxdata and then decided to put it here because the benefits part is more concerning in my opinion. As you can see in the report I linked in the comment above, new legal immigrants are barred from many welfare programs before naturalization, let alone illegal immigrants.

[2018-09-19 14:34] Amy-Xu commented on #74
Max also suggests:

Interesting. I think it will be helpful to have more information on how this citizenship indicator will be used. It seems if we want to do correlation, then this n_citizens definitely works. But say, if we want to do children welfare, the status of children could be hard to get under this frame.

@MattHJensen By any chance you have more specifics on the requirements for this ci

[2018-09-19 14:48] MattHJensen commented on #74
The user I am helping wants to limit UBI eligibility to citizens.

[2018-09-19 14:57] Amy-Xu commented on #73
@martinholmer Sorry about the delay. Somehow this issue slipped through my hands. I traced back to the code to see which part of CPS data supplies the `e01700`. This [line](https://github.com/open-source-economics/taxdata/blob/ee4d401979f48bbbe392bbfba1b571233fec3495/cps_data/finalprep.py#L119) in taxdata seems to suggest `e01700` is actually imputed from `e01500` with taxable ratios collected fro

[2018-09-21 15:38] Amy-Xu commented on #74
@MattHJensen So I can interpret that as there's no need to consider much about specifics on current welfare recipiency? Then Max suggestion works in my opinion. CPS should also work as well. There's probably no need to consider any imputation from SIPP at this point because we just want the citizenship part instead of whether their welfare recipiency is accurate or not.

@feenberg @martinholmer @a

[2018-09-21 15:40] Amy-Xu commented on #74
Also, if that's the case, I think this issue should be closed here and re-open in taxdata.

[2018-09-21 16:02] MaxGhenis commented on #74
If for UBI, would it require separate fields by age? `n_citizens` isn't sufficient to exactly model a UBI reform limited to citizens with children getting less than adults. One could approximate it by giving `n_citizens / XTOT` share of the UBI for each person, but this would overestimate the UBI outlay given families with child citizens with adult non-citizens are more common than the reverse.

[2018-09-21 16:03] Amy-Xu opened #75 "Expand the database to include 2016 CPS"
The benefit database created from the 2016 CPS should be a better fit for the 2016 CPS tax-unit dataset. Currently all the administrative targets are for 2015 CPS, roughly the expenditure in 2014. In this issue I will be updating the progress of finding 2015 administrative targets. Meanwhile, I'll think about how to organize the scripts and targets in a more efficient way. Appreciate any suggestio

[2018-09-22 21:58] Amy-Xu commented on #75
| Program | Total Recipients (million) | Total Benefit (billion) | Source |
|---------|------------------|---------------|--------|
|TANF         |         4.1         |      26.0 (Admin: 3.2)       |[Recipients](https://www.acf.hhs.gov/sites/default/files/ofa/2015_recipient_tanssp.pdf); [Benefits](https://www.acf.hhs.gov/ofa/resource/tanf-financial-data-fy-2015)        |
|WIC         |1.9 women;

[2018-09-24 01:35] Amy-Xu commented on #75
| Program | Total Recipients (million) | Total Benefit (billion)| Source |
|---------|------------------|---------------|--------|
|   Medicaid  |       70           |      527.8 + 26.0 admin cost         |   [2016 Actuary Report](https://www.cms.gov/Research-Statistics-Data-and-Systems/Research/ActuarialStudies/Downloads/MedicaidReport2016.pdf)     |
|   Medicare      |        55.3          |

[2018-09-24 21:40] Amy-Xu commented on #75
Housing is a bit tricky - there doesn't seem existing any benefit totals on the HUD website, so we calculate the targets by summing up the state level statistics from the HUD database. Following the [ReadMe](https://github.com/open-source-economics/C-TAM/tree/master/Housing), I downloaded the state-level data for 2015, and then used a modified version of this [script](https://github.com/open-sourc

[2018-09-27 14:55] Amy-Xu commented on #75
A quick update on the housing imputation for 2016 CPS: the variable we used as the value of housing subsidy `fhoussub` is not available anymore. So all the imputation will be instead based on the estimate from Special Poverty Measurement (SPM), which is also produced by the Census.
<img width="848" alt="screen shot 2018-09-27 at 9 51 43 am" src="https://user-images.githubusercontent.com/10549597/4

[2018-09-29 19:42] Amy-Xu commented on #73
I have been working on expanding the database to 2016 CPS, and realized there might be a bad assumption we made that partially results in extremely high values in the Veteran's Benefit. The [spreadsheets of benefits](https://www.va.gov/vetdata/Expenditures.asp) provided by the VA usually have table headers as following:

<img width="870" alt="screen shot 2018-09-29 at 2 31 50 pm" src="https://user

[2018-09-30 21:45] Amy-Xu commented on #73
A quick update on the experiment I mentioned above - switching the assumed base of veteran's benefits. Here is a chart plotting the veteran's benefit from the raw CPS and the imputed.
<img width="449" alt="screen shot 2018-09-30 at 4 28 38 pm" src="https://user-images.githubusercontent.com/10549597/46262957-76c92180-c4ce-11e8-8b20-c8837bb59efb.png">

The average benefit per percentile for the impu

[2018-10-02 16:31] martinholmer commented on #73
I don't see where in C-TAM this discussion of veterans benefits is being
recorded.
What issue is this?

On Sun, Sep 30, 2018 at 5:45 PM Amy Xu <notifications@github.com> wrote:

[2018-10-02 20:10] Amy-Xu commented on #73
@martinholmer Thank you for the attention. I removed my previous post because I realized there were some details I needed to check with our then contractor, so I don't misspeak about anything. I will re-post once I confirm with her.

[2018-10-15 18:08] martinholmer commented on #73
@Amy-Xu, thanks for your update on "veterans benefits" in [this comment](https://github.com/open-source-economics/C-TAM/issues/73#issuecomment-429668467).

The information you've supplied in that comment only reinforces my belief that we should do two things:

1.  Remove "veterans benefits" from C-TAM.

2. Remove the `vet_ben` input data and the `_BEN_vet_repeal` policy parameter from Tax-Calculat

[2018-10-16 14:37] Amy-Xu commented on #73
Thanks @martinholmer.

Could you remind me which variable includes the cash veterans benefit for disability? In 2014 and 2015, this portion of benefit is around $75 billion.

In terms of the military retirement pay, if the variable we currently use for the CPS tax unit dataset is `RET_VAL`, then the retirement pay indeed has been included. But as I mentioned in this previous [comment](https://gith

[2018-10-16 21:20] martinholmer commented on #73
@Amy-Xu said in C-TAM issue #73:

From the user documentation linked in the Tax-Calculator `README.md` file, we have this:

<img width="887" alt="screen shot 2018-10-16 at 5 13 40 pm" src="https://user-images.githubusercontent.com/12170745/47048021-31ac1d00-d167-11e8-8f88-a80c3e4c21c2.png">

So, as you can see, military disability pensions are in `e01500` but not in `e01700`, while military retire

[2018-10-16 21:32] martinholmer commented on #73
@Amy-Xu said in C-TAM issue #73:

OK.  But that brings up again the question that started this issue: Why are some `vet_ben` values so large?

The working hypothesis for months has been that the largest observed values are retirement pensions for multiple-star generals (see the title of this issue).  Now after months of speculation along these lines, you're telling us: NO, the large values of `vet

[2018-10-17 16:16] feenberg commented on #73
I went to the IPUMS website and downloaded a dataset with

 year
 incvet
 qiincvet

I think incvet is the right variable. Here is the description:

  INCVET indicates how much pre-tax income (if any) the respondent
received from
  payments from the Veterans' Administration (VA) during the previous
calendar year.
  Such payments could include service-related disability compensation,
survivor benefi

[2018-10-17 21:09] Amy-Xu commented on #73
@feenberg Thanks for checking the data from the IPUMS website. Correspondingly I went into the 2015 CPS ASEC and checked the veteran benefits there (`vet_val`). This particular variable is capped at $99,999 and in 2015 there are 10 individuals who reported benefit at the cap value $99,999. Among these 10 individuals, 5 of them identify the type as disability compensation only, 3 of them as survive

[2018-10-17 21:37] Amy-Xu commented on #73
@martinholmer quoted the readme file of the Tax-Calculator

I'm not an expert on this but looking at the 1040 instruction, I'm not sure whether the disability part of pension is included in `e01500` or not. See this snippet I copied from the instruction:

<img width="250" alt="screen shot 2018-10-17 at 4 27 54 pm" src="https://user-images.githubusercontent.com/10549597/47117509-3259b780-d22a-11e8-

[2018-10-17 22:16] martinholmer commented on #73
@Amy-Xu,  What PUF variable is Form 1040, line 7?

[2018-10-18 03:15] feenberg commented on #73
On Wed, 17 Oct 2018, Amy Xu wrote:

Isn't 99999 the missing value indicator? Still, there are values above
$80,000, which is almost as great. I suppose that could be a disability
pension.

dan

[2018-10-18 18:39] Amy-Xu commented on #73
@martinholmer asked:

1040 line 7 is wage, salaries, tips, etc. I think that's probably somewhat related to e00200.

[2018-10-18 22:55] martinholmer commented on #73
@Amy-Xu said:

Exactly, so how do you square that information with your earlier assertion that military disability pensions are not taxable.  If they're in `e00200`, then they are being taxed along with wages.

[2018-10-18 23:51] Amy-Xu commented on #73
@martinholmer Thanks for your response. But if you read [my comment](https://github.com/open-source-economics/C-TAM/issues/73#issuecomment-430798749) again, I have already stated I'm not sure -- the relevant bullet point about disability pension is very vague. It talks about 'your employer', which could possibly not related to the VA. I tried to see whether the PUF documentation has more detailed

[2018-11-01 01:29] martinholmer commented on #73
@Amy-Xu said two weeks ago in C-TAM issue #73 (with respect to high veterans benefits in the CPS data):

Actually, I now think that all veterans benefits (as opposed to military retirement benefits) are non-taxable under the federal income tax.  This view is based on the [Wikipedia entry for Veterans Benefits](https://en.wikipedia.org/wiki/Veteran%27s_pension_(United_States)).  Here is the first s

[2018-11-04 03:29] MaxGhenis opened #76 "Studies on misreported benefits"
Just wanted a place to share this study: "Errors in Survey Reporting and Imputation and their Effects on Estimates of Food Stamp Program Participation"
https://www.nber.org/papers/w25143

[2018-11-06 23:07] Amy-Xu commented on #73
@martinholmer Sorry for the delayed reply. Thank you very much for all the information here. So up to this point it seems we have reached an agreement that the VA benefits are not taxable. Can I interpret your quote from the Wikipedia as that the VA benefit is not a part of the contract with the DoD, thus theoretically repealable?

The IPUMS looks like a very neatly put website that provides acces

[2018-11-07 02:01] feenberg commented on #73
At this point all I can suggest is to contact the CPS people and ask for
an explanation. Or perhaps the VA.

dan

On Tue, 6 Nov 2018, Amy Xu wrote:

[2018-11-07 17:00] martinholmer commented on #73
@Amy-Xu asked:

Yes.

[2018-11-07 17:17] martinholmer commented on #73
@Amy-Xu said:

Which contradicts your recent assertion that:

His statement and your statement cannot both be true.

What you forgot to mention is that Dan @feenberg concluded in that comment the following:

So, he thinks (as I do) that there is a mistake in the (high) `vet_ben` values in the `cps.csv` input file to Tax-Calculator.  It doesn't really matter whether the mistake is in the CPS file y

[2018-11-09 19:29] Amy-Xu commented on #73
@martinholmer said:

I totally agree. I'm trying to figure out where is the mistake, if there is one. So there're two things I want to verify: 1) Are the IPUMS variables carrying exactly the same values as the original CPS ASEC dataset? 2) Where is the CPS dataset we use coming from?

With regard to the first issue, the IPUMS elaborates what they did for the missing values, N.I.U.s, and topcodes a

[2018-11-13 17:08] MattHJensen opened #77 "Join the Policy Simulation Library?"
This GitHub organization (Open-Source-Economics) is becoming a home for the [Policy Simulation Library](www.policysimulationlibrary.org), and will be renamed PSLmodels on December 3rd. Starting then, I'd like for every project in PSLmodels to either be in PSL or be in the process of joining PSL.

C-TAM is very welcome in PSL! If the project is interested in joining, could you please let me know by

[2018-11-19 20:01] andersonfrailey commented on #73
@Amy-Xu the CPS file came from [NBER](https://www.nber.org/data/current-population-survey-data.html) and the processing scripts can be found [here](https://github.com/open-source-economics/taxdata/blob/master/puf_data/StatMatch/Matching/cpsmar.py). In the .DAT file we download from there all of the values are numerical so `None` or `Not in the universe` can't be a value. If I recall correctly, the

[2018-11-19 21:38] martinholmer commented on #73
@Amy-Xu said in C-TAM issue #73:

But it sounds like IPUMS has **corrected** the original CPS file, right?  I'm not sure why C-TAM is using the NBER version of the CPS when the IPUMS version sounds to be very high quality.  Take a look at this [What-is-IPUMS page](https://www.ipums.org/whatIsIPUMS.shtml) for a description of their international reputation.

@MattHJensen @andersonfrailey

[2018-11-25 19:58] Amy-Xu commented on #77
A public API is needed for semantic versioning according to this [page](https://semver.org/). Is that necessary for this repo? Also what should be included in the test suite needs more discussion.

ps: if the 'you' in your post refers to me, please tag me next time. I don't see the notification for this issue in my email.

@MattHJensen

[2018-11-25 20:49] Amy-Xu commented on #73
@martinholmer said:

I would stick with 'adjusted' rather than 'corrected.'

IPUMS in my perspective is very useful if one wants to do time series analysis across multiple data sources. However, I don't see how NBER's compilation is low quality by any means.

In addition, with regard to [your quote](https://github.com/open-source-economics/C-TAM/issues/73#issuecomment-434901116) of Wikipedia, I ar

[2018-11-26 22:53] martinholmer commented on #73
@Amy-Xu said in C-TAM issue #73:

@Amy-Xu,  I know this is complicated, but I'm not sure why you think the SMC benefits are **on top of** regular VA disability benefits.  Your assumption that this is true allows you to argue that people get non-taxable cash VA benefits of more than $100,000 per year.  But when I start looking around the Internet, it doesn't seem that the large SMC benefits you men

[2018-11-28 01:55] Amy-Xu commented on #73
I'm happy to hear more from others. But Martin, if you go into the link for [SMC K](http://www.militarydisabilitymadeeasy.com/specialmonthlycompensation.html#k) in the same page you cited, it says the following:

<img width="942" alt="screen shot 2018-11-27 at 7 49 45 pm" src="https://user-images.githubusercontent.com/10549597/49123292-af426d00-f27d-11e8-91f3-ce21d686ac30.png">

If I understand th

[2018-11-30 16:15] martinholmer commented on #73
@Amy-Xu said:

Yes, I agree.  That's exactly what I said in [this comment](https://github.com/open-source-economics/C-TAM/issues/73#issuecomment-441831721) a few days ago.  But SMC K, which is very small (about $100 per month), is the **ONLY** SMC benefit that is "stacked on top of the regular disability".  So, I'm still highly skeptical of your claim that people can get tax-free cash VA disabilit

[2018-12-18 17:08] Amy-Xu commented on #73
I just called the Census Bureau Customer Service asking about the high values ($99,999) in `vet_val`, and they connected me to Jonathan Vespa. What he said was that this variable is a composite of five types of benefits, including compensation, education assistance etc, claimed either by the veteran or on behalf of a family member. He thinks it is possible for this composite to be close to $100,00

[2018-12-27 16:59] MaxGhenis opened #78 "FYI: Comparison to Stanford's California Poverty Measure"
The Stanford Center on Poverty & Inequality produces a [California Poverty Measure](https://inequality.stanford.edu/publications/research-reports/california-poverty-measure), which does some tasks also done in C-TAM. Here are relevant sections of their [methodology](https://inequality.stanford.edu/sites/default/files/CPM-2014_technical-appendix.pdf), for comparison to C-TAM and in case there's val

[2018-12-27 18:23] MaxGhenis opened #79 "Alternative participation approach: Assign randomly rather than rank"
The [SNAP README](https://github.com/PSLmodels/C-TAM/blob/master/SNAP/README.md) states:

This approach would work well if the regression models have good fit, i.e. probabilities are either close to 0 or close to 1. But if probabilities are fuzzier, this approach could overstate the correlation between predictors and participation.

As a simple example, suppose *P(SNAP) = max(1 - (income / 50000),

[2018-12-27 18:35] MaxGhenis commented on #79
@Amy-Xu

[2019-01-02 17:47] Amy-Xu commented on #79
This is a valid concern. Dan has also brought up this issue before. Records with positive predictors are a lot more likely to be imputed, while not all of the predictors are available in the CPS dataset. With regard to income, lower income people are much more likely to be imputed than higher income people and on top of that, maybe they are imputed at a higher rate than they 'should be'. Dan has a

[2019-01-02 23:11] MaxGhenis commented on #79
A simple example could be modeling the after-tax income distributional impact of repealing SNAP. The current data overstates SNAP participation among low-income HHs, and understates it among higher-income HHs. So SNAP repeal would look more regressive than it actually is. Other reforms like shifting the SNAP budget to UBI would also look overly regressive.

Yes that's trickier, and I think would r

[2019-01-03 22:15] MaxGhenis commented on #78
@MattHJensen indicated interest in this on today's call.

[2019-01-07 23:18] Amy-Xu commented on #78
Does this mean

1) we could compare the California portion of data to see how the distributions different under two methodologies?

2) if the differences are significant and sensible, we should expand the model for other states?

What are the plans you have in mind?

@MaxGhenis @MattHJensen

[2019-01-15 17:32] martinholmer commented on #73
@Amy-Xu said:

OK, thanks for checking.
I think this issue can be closed by @MaxGhenis (who opened it) or by somebody else.

If the high veterans benefits that are imputed [here](https://github.com/PSLmodels/C-TAM/blob/master/VB/VB_imputation.ipynb) are correct, then UBI reforms that repeal veterans benefits are going to generate a non-trivial number of people who are substantially worse off.

[2019-01-15 18:07] MaxGhenis commented on #73
You two are closer to this issue so I'll let you close it if it's resolved. Thanks for so much research on this!

[2019-01-17 15:05] martinholmer commented on #73
@Amy-Xu,  Do you want to close C-TAM issue #73?
@MaxGhenis opened this issue and he can close it (but left it up to us in this [comment](https://github.com/PSLmodels/C-TAM/issues/73#issuecomment-454492193)).
I don't have the C-TAM repo privileges required to close it.

[2019-01-26 16:08] Amy-Xu commented on #73
@MaxGhenis @martinholmer Thank you both for all the time spent on this issue. Closing.

[2019-01-26 16:08] #73 closed

[2019-01-26 17:08] Amy-Xu commented on #75
With regard to the organization of files, I plan to refactor the python imputation script to accommodate different years. Specificifically, I want to have the scripts called and run by a command line that requires input arguments, including year, input file name, output file name. This is a work in progress. I'll open a PR soon to demonstrate in detail.

[2019-02-05 02:22] MaxGhenis opened #81 "Add National School Lunch Program (NSLP)?"
NSLP has a $13B budget (https://www.cbo.gov/publication/50737), has been analyzed from CPS data (https://www.fns.usda.gov/current-population-survey-analysis-nslp-participation-and-income), and is included in poverty research materials like SPM and CPM (California Poverty Measure, see https://github.com/PSLmodels/C-TAM/issues/78). I couldn't find references to it in the C-TAM documentation. Has add

[2019-02-05 02:30] MaxGhenis opened #82 "Add Low-Income Heating and Energy Assistance Program (LIHEAP)?"
LIHEAP has a $3.65B 2019 budget (https://liheapch.acf.hhs.gov/Funding/funding.htm). AFAICT, including it (along with NSLP #81 which is more important given the higher budget) would complete C-TAM' set of transfer programs used in materials like SPM/CPM.

[2019-02-07 06:16] MaxGhenis commented on #78
[Columbia's Center on Poverty and Social Policy](https://www.povertycenter.columbia.edu/) also does a lot of antipoverty work involving recreating the Supplemental Poverty Measure, and part of this is imputing benefits. In particular, Jane Waldfogel and Christopher Wimer have authored many SPM-related papers, such as an [anchored SPM (2013)](https://www.gc.cuny.edu/CUNY_GC/media/LISCenter/Readings

[2019-02-24 20:56] MaxGhenis opened #84 "Does the Social Security MTR include income limits on benefits (especially SSDI)?"
@andersonfrailey shared with me a UBI analysis he's been working on, which included modeling the labor response to MTRs including from benefits. I was surprised to see this chart in it showing that Social Security's MTR is negative:
![image](https://user-images.githubusercontent.com/6076111/53305068-ba337c00-3831-11e9-88e9-2b3a73c15c8c.png)

@andersonfrailey explained that this has to do with earn

[2019-03-19 18:58] MaxGhenis commented on #84
Hi just checking in here.

[2019-03-25 01:49] MaxGhenis commented on #74
Filed https://github.com/PSLmodels/taxdata/issues/309, so we can probably close this.

[2019-03-25 15:14] Amy-Xu commented on #84
@MaxGhenis Sorry for having this issue slipped through the cracks!! I was buried in finals last week.

Anderson is right. Our Social Security Benefit calculation replicates the calculator provided by [SSA](https://www.ssa.gov/OACT/anypia/anypia.html). The initial 'benefit rates' are positive and later on get reversed for the sake of 'MTR' in tax jargons. Parker, the contractor who did this part wo

[2019-03-26 04:05] MaxGhenis commented on #84
Thanks, looking at Parker's PDF are retirement benefits discounted to present-day dollars? I didn't see mention of it, and that'd be pretty important. I'm wondering if that could explain the "implicit marginal benefit rate" in the range of 15%, over double the SS payroll tax rate. I'd expect them to be similar.

I [asked](https://economics.stackexchange.com/questions/27458/calculating-marginal-tax

[2019-04-29 05:11] MaxGhenis opened #85 "Add CHIP"
CBO includes CHIP in their definition of "income after taxes and transfers," per https://www.cbo.gov/system/files/115th-congress-2017-2018/workingpaper/53345-workingpaper.pdf.

The ASEC logs this as the `PCHIP` variable, per https://www.census.gov/topics/health/health-insurance/guidance/cps-asec.html.

CBO lumps in CHIP with Medicaid for their underreporting correction: https://www.cbo.gov/system/

[2020-07-17 04:52] MaxGhenis opened #86 "Use UI calculator from Ganong et al"
Seems like it'd be useful for bounding UI imputations based on state: https://github.com/ganong-noel/ui_calculator

[2020-11-28 06:42] MaxGhenis opened #87 "Incorporate TRIM3 logic"
I requested TRIM3's code from HHS via FOIA on 2019-04-01 (request #2019-00774-FOIA-OS). On 2020-11-21, the request's status was updated to 'In Process'.

@MattHJensen fyi